<div id="home">
        <div class="overlay">
            <div class="container">
                <div class="row scroll-me" >
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <h4 >DriveWay</h1>
                    <h4>
                        Do you want to rent or lease your vacant space? 
                        DriveWay connects cars with vacant spaces.


                    </h4>
                    <a href="#about" class="btn btn-custom btn-two" >Find your park</a>
                    <a href="#email-subscribe" class="btn btn-custom btn-one" >List Your DriveWay </a>
                </div>
                </div>
              
                
            </div>
        </div>

    </div>
    <!--HOME SECTION END  -->
     <!-- ABOUT SECTION START-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2 class="head-line">How can you use DriveWay?</h2>
                    <p >
                       Have you tried to look for a park around Coogee? Have you wished there was a park close to the airport, or near UNSW. Yes everyone has at some time. DriveWay connects the driver with the car space.
                    </p>
                    <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row pad-bottom">
                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                             <div class="icon-wrapper">
                                  <i class="fa fa-search"></i>
                             </div>                   
                    <h4>Find your spot </h4>
                        
                                      

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="icon-wrapper">
                    <i class="fa fa-cart-arrow-down"></i>
                        </div>
                    <h4>Book </h4>
                                      

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="icon-wrapper">
                    <i class="fa fa-car"></i>
                        </div>
                    <h4>Drive</h4>
                    
                </div>
                        </div>
                        
            </div>
                
        </div>
                    
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center" >
                    <img src="https://s3-ap-southeast-2.amazonaws.com/driveway-app/drivewaydemo.jpg" class="img-side" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT SECTION END-->
     <!-- CLIENTS SECTION START-->
    <section id="clients">
        <div class="overlay">       
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  client-cover" >
                     <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="testimonial-section">
                           I live near a major hospital in the inner west. DriveWay provides me a supplement to my income, all through an app on my phone.
                        </div>
                        <div class="testimonial-section-name">
                            <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAKbAAAAJGRjMjUyODA3LTRlN2ItNGI5MC04NzRmLWVmMzkwNzVkNDk0NQ.jpg" alt="" class="img-circle" />
                            -  Lorraine Chung
                        </div>
                            
                        </div>
                        <div class="item">
                           <div class="testimonial-section">
                             I can organise a park when I go to the beach, to the airport and to the football. It’s great! No stress, No hassles. No worries.
                        </div>
                        <div class="testimonial-section-name">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAOJAAAAJGEyZDBiMWY1LWY1ZTMtNDI0ZS1iNzg1LTE4MTZjMGEzMjMwYw.jpg" alt="" class="img-circle" />
                            -  Brendon Body
                        </div>
                            
                        </div>
                        <div class="item">
                          <div class="testimonial-section">
                          Parking near the cinema was struch a stress. With DriveWay I can get a hassle free spot and I always catch the start of the mo 
                        </div>
                        <div class="testimonial-section-name">
                            <img src="http://api.randomuser.me/portraits/med/women/52.jpg" alt="" class="img-circle" />
                            -  Justine Goliyad
                        </div>
                            
                        </div>
                         <!--INDICATORS-->
                    <ol class="carousel-indicators carousel-indicators-set">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>

                    </div>
                   
                </div>
                </div>
            </div>
           
        </div>
             </div>
    </section>
     <!-- CLIENTS SECTION END-->
    <!-- FEATURES SECTION START-->
    <section id="features">
        <div class="container">
            
            <div class="row text-center">
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                     <div class="icon-wrapper">

                     
                     <i class="fa fa-location-arrow"></i>
                          </div>
                    <h4>GPS Location  </h4>
                                      Find the closest spot
                    
                        
            </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 scroll-me">
                       <i class=" "></i>
                    <p>
                        Save your time, Your money and Your worries. Use DriveWay

                    </p>
                     <a href="#header" class="btn btn-custom btn-three" >Find a park?</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <div class="icon-wrapper">
                    <i class="fa fa-plug"></i>
                         </div>
                    <h4>Recharge your electric car  </h4>
                                      Flat rate fee
                        
            </div>
                
        </div>
</div>

    </section>
    <!-- FEATURES SECTION END-->     
     <!-- SUBSCRIBE SECTION START-->
     <section id="email-subscribe">
         <div class="container">
<div class="row text-center">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
       <form action="subscribe.php" method="post" id="postcontent"> 
	    				<input type="email" name="email" class="form-control" placeholder="Enter Your E-mail Address..." required />
           <button type="submit" class="btn btn-subscribe"  >Notify Me !</button>
					</form>
    </div>
</div>
         </div>
     </section>
     <!-- SUBSCRIBE SECTION END-->
     <!-- CONTACT SECTION START-->
    <section id="contact">
        <div class="overlay">       
        <div class="container">
            <div class="row text-center">
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  contact-cover" >
                     <h2>DriveWay</h2>
                     <h3>125 York St, Sydney,</h3>
                     <h3>Australia </h3>
                     <div class="space"> </div>
                      <div class="social">
                        <a href="#"><i class="fa fa-facebook "></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus "></i></a>
                        
                        <a href="#"><i class="fa fa-linkedin "></i></a>
                    </div>
                </div>
               
               
            </div>
           
        </div>
             </div>
    </section>