/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= stub active_admin

*= require_self
*/
@import "bootstrap_configuration";

@import "bootstrap-sprockets";

@import "bootstrap";

@import "font-awesome";

//->Prelang (ui_framework:twitter_bootstrap)

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  max-width: 450px;
}

body {
  padding-top: 50px;
  height: 80%;
}

#button-row{
	margin-top: 30px;
}

#map-row{
  padding-top: 30px;
  height: 400px;
}

.navbar{
	background-color: #421B83;
	border-width: 0
}

#back-button{
	margin-right: 20px;
}


#pac-input{
	width: 75%;
}

#map-canvas-special{
	width: 100%;
}

.rent-row{
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #F7F7F9;
}

.fa-big{
	font-size: 6em;
}
.share-message{
	padding-left: 200px;
}

#warning-messages{
	display: none;
}

#back-button-row{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.page-header{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
#image-logo{
	padding: 5px;
}